*{
	margin: 0;
	padding: 0;
}

body{
	font: Poppins;
  	background:lightblue; 
}






header{
	display: flex;
	width: 90%;
	margin:auto;
	min-height: 10vh;
	align-items: center;
	margin-top: 5px;
}

.logo-container,.nav-links,.search,.cart{
	display: flex;
}

.logo-container{
	flex: 1;
}

.logo{
	font-weight: 400;
	font-size: 38px;
	margin: 5px;
}

nav{
	flex: 3;
	text-transform: uppercase;
}

.nav-links{
	justify-content: space-around;
	list-style: none;
}

.nav-link{
	color: #646464;
	font-size:18px;
	text-decoration: none;
}

.nav-link:hover {
	text-decoration:underline;
}

.search{
	flex: 1;
	justify-content: space-around;
}	







.out{
	position: absolute;
	width: 313px;
	height: 575px;
	left: 258px;
	top: 43px;

	background: #FFFFFF;
	box-shadow: 80px 60px 60px rgba(107, 127, 153, 0.2),
	 inset -30px -2px 30px rgba(64, 82, 128, 0.1),
	 inset 30px 2px 30px rgba(255, 255, 255, 0.8);
	border-radius: 60px;
}
.screen{
	position: absolute;
	width: 300px;
	height: 550px;
	left: 265px;
	top: 56px;

	background: #F1F3F6;
	box-shadow: inset -30px -2px 30px rgba(64, 82, 128, 0.1),
	 inset 30px 2px 30px rgba(255, 255, 255, 0.8);
	border-radius: 50px;
}
.speaker{
	position: absolute;	
	width: 100px;
	height: 3px;
	left: 358px;
	top: 80px;

	z-index: 100;
	background: darkgrey;
	position: absolute;	
}
.one{
	position: absolute;
	left:275px;
	top: 85px;
}

.quo{
	position: absolute;
	width: 50%;
	height: 200px;
	left: 650px;
	top: 200px;

	font-family: Poppins;
	font-size: 24px;
}
.download{
	height: 100px;
	width: 500px;
	position: absolute;
	right: 200px;
	bottom: 50px;
	display: flex;
}
.apple,.google{
	flex:1;
	padding: 10px;
}
.google img{
	width: 100%;
	height: 77px;
}
.apple img{
	width: 100%;
	height: 80px;
}